{% extends 'base.html.twig' %}
{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1>Vehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Img</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Immatricule</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Statut</th>
                <th>Nombre de Réservation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td style="padding: 0%; width: 25%;;">
                    <img src="{{ asset(vehicule.imgUrl) }}" alt="" class="p-0 img-fluid w-25" style="padding: 0;">
                </td>
                <td>{{ vehicule.marque }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>{{ vehicule.immatricule }}</td>
                <td>{{ vehicule.type }}</td>
                <td>{{ vehicule.prix }}</td>
                <td>{{ vehicule.statut ? 'Yes' : 'No' }}</td>
                <td>{{ vehicule.reservationCount }}</td>
                <td>
                    <a href="{{ path('app_vehicule_show', {'id': vehicule.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_new') }}">Create new</a>
{% endblock %}
