{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h2 class="text-center">Louer un véhicule</h2>

    <div class="row">
        {% for vehicule in vehicules %}
            <div class="card col-4 m-2" style="width: 18rem;">
            <a href="vehicule/{{vehicule.id}}">
            <img class="card-img-top img-fluid" src="{{ asset(vehicule.imgUrl) }}" alt="Card image cap">
            </a> 
                <div class="card-body">
                    <h5 class="card-title">{{ vehicule.marque }}</h5>
                    <p class="card-text">
                        <strong>Prix Journalier : {{ vehicule.prix }}€</strong><br>
                        <strong>{{ vehicule.statut ? 'Disponible' : 'Indisponible' }}</strong>
                    </p>
                    
                    {% if vehicule.statut %}
                        <a href="{{ path('app_client_vehicule', {'id': vehicule.id}) }}" class="btn btn-primary">Réserver</a>
                    {% else %}
                        <span class="btn btn-secondary disabled">Indisponible</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}    
    </div>

{% endblock %}
